
# === dbt ===
target/
dbt_packages/
logs/

# === Python & Environnement ===
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# === OS & IDE ===
.DS_Store
Thumbs.db
.vscode/

# === Sécurité (Activée !) ===
.env
**/.env
load_raw_data.py
notebook.ipynb